{% load static %}
<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Responsive Bootstrap Dashboards">


		<!-- Title -->
		<title>Medical Admin Template - Hospital Reviews</title>


		<!-- *************
			************ Common Css Files *************
			************ -->
		<!-- Bootstrap css -->
		<link type="text/css" href="{% static 'css/Bm.css' %}"  rel="stylesheet">

		<!-- Icomoon Font Icons css -->
		<link type="text/css" href="{% static 'css/S.css' %}"  rel="stylesheet">

		<!-- Main css -->
		<link type="text/css" href="{% static 'css/Mm.css' %}"  rel="stylesheet">


		<!-- *************
			************ Vendor Css Files *************
		************ -->

	</head>

	<body>

		
				<!-- Content wrapper start -->
				<div class="content-wrapper">

					<!-- Row start -->
					<div class="row gutters">
						<div class="col-xl-12">
							<div class="card plain">
								<div class="card-body">
									<!-- Row start -->
									<div class="row gutters">
										<div class="col-lg-4 col-md-6 col-12">
											<a href="javascript:void(0)" class="hospital-list">
												<img src="{% static 'images/OIP (2).jpg' %}" class="hospital-thumb" alt="Medical Dashboards" />
												<div class="hospital-details">
													<div class="hospital-location">
														<h5>Mr.Tambe</h5>
														<p>We came here with no hope but the treatment special...</p>
													</div>
													<div class="hospital-rating-price">
														<div class="ratings">
															<div class="rateA"></div>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4 col-md-6 col-12">
											<a href="javascript:void(0)" class="hospital-list">
												<img src="{% static 'images/OIP (3).jpg' %}" class="hospital-thumb" alt="Medical Dashboards" />
												<div class="hospital-details">
													<div class="hospital-location">
														<h5>Mrs.shete</h5>
														<p>We are very happy with the service, support and help...</p>
													</div>
													<div class="hospital-rating-price">
														<div class="ratings">
															<div class="rateB"></div>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4 col-md-6 col-12">
											<a href="javascript:void(0)" class="hospital-list">
												<img src="{% static 'images/th (1).jpg' %}" class="hospital-thumb" alt="Medical Dashboards" />
												<div class="hospital-details">
													<div class="hospital-location">
														<h5>Mr.shaikh</h5>
														<p>Excellent treatment for leukemia, calculated timely...</p>
													</div>
													<div class="hospital-rating-price">
														<div class="ratings">
															<div class="rateC"></div>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4 col-md-6 col-12">
											<a href="javascript:void(0)" class="hospital-list">
												<img src="{% static 'images/OIP.jpg' %}" class="hospital-thumb" alt="Medical Dashboards" />
												<div class="hospital-details">
													<div class="hospital-location">
														<h5>Mrs.Holkar</h5>
														<p>We all know about how a mother's love can move mountains...</p>
													</div>
													<div class="hospital-rating-price">
														<div class="ratings">
															<div class="rateD"></div>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4 col-md-6 col-12">
											<a href="javascript:void(0)" class="hospital-list">
												<img src="{% static 'images/OIP (4).jpg' %}" class="hospital-thumb" alt="Medical Dashboards" />
												<div class="hospital-details">
													<div class="hospital-location">
														<h5>Karishma</h5>
														<p>Watch the successful story of the child Joyce, who suffered...</p>
													</div>
													<div class="hospital-rating-price">
														<div class="ratings">
															<div class="rateE"></div>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4 col-md-6 col-12">
											<a href="javascript:void(0)" class="hospital-list">
												<img src="{% static 'images/OIP (2).jpg' %}" class="hospital-thumb" alt="Medical Dashboards" />
												<div class="hospital-details">
													<div class="hospital-location">
														<h5>Mr.Wagh</h5>
														<p>We are really thankful to Dr.palimkar and her full team. They are...</p>
													</div>
													<div class="hospital-rating-price">
														<div class="ratings">
															<div class="rateC"></div>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4 col-md-6 col-12">
											<a href="javascript:void(0)" class="hospital-list">
												<img src="{% static 'images/OIP (1).jpg' %}" class="hospital-thumb" alt="Medical Dashboards" />
												<div class="hospital-details">
													<div class="hospital-location">
														<h5>miss.meera desai</h5>
														<p>Thanks to all the staffs and doctors - they were friendly...</p>
													</div>
													<div class="hospital-rating-price">
														<div class="ratings">
															<div class="rateA"></div>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4 col-md-6 col-12">
											<a href="javascript:void(0)" class="hospital-list">
												<img src="{% static 'images/th.jpg' %}" class="hospital-thumb" alt="Medical Dashboards" />
												<div class="hospital-details">
													<div class="hospital-location">
														<h5>Mr.dhiraj kher</h5>
														<p>Thanks to the Physiotherapist for their rehabilitation...</p>
													</div>
													<div class="hospital-rating-price">
														<div class="ratings">
															<div class="rateA"></div>
														</div>
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4 col-md-6 col-12">
											<a href="javascript:void(0)" class="hospital-list">
												<img src="{% static 'images/OIP (2).jpg' %}" class="hospital-thumb" alt="Medical Dashboards" />
												<div class="hospital-details">
													<div class="hospital-location">
														<h5>Mrs.prajakta shaharkar</h5>
														<p>Mr.patil, this is for your kind information that, I was...</p>
													</div>
													<div class="hospital-rating-price">
														<div class="ratings">
															<div class="rateB"></div>
														</div>
													</div>
												</div>
											</a>
										</div>
									</div>
									<!-- Row end -->
								</div>
							</div>
						</div>
					</div>
					<!-- Row end -->



				</div>
				<!-- Content wrapper end -->

			</div>
			<!-- *************
				************ Main container end *************
			************* -->


		</div>

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="js/Jm.js"></script>
		<script src="js/Bbm.js"></script>
		<script src="js/Mo.js"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Rating JS -->
		<script src="js/raty.js"></script>
		<script src="js/raty-custom.js"></script>

		<!-- Main Js Required -->
		<script src="js/M.js"></script>

	</body>

</html>