{% load static %}
<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Responsive Bootstrap Dashboards">


		<!-- Title -->
		<title>Medical Admin Template - Doctors List</title>


		<!-- *************
			************ Common Css Files *************
			************ -->
		<!-- Bootstrap css -->
		<link type="text/css" href="{% static 'css/Bm.css' %}"  rel="stylesheet">

		<!-- Icomoon Font Icons css -->
		<link type="text/css" href="{% static 'css/S.css' %}"  rel="stylesheet">

		<!-- Main css -->
		<link type="text/css" href="{% static 'css/Mm.css' %}"  rel="stylesheet">


		<!-- *************
			************ Vendor Css Files *************
		************ -->

	</head>

	<body>

		

		<div class="container-fluid">


			


			<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">


				<!-- Page header start -->
				<div class="page-header">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">Doctors</li>
						<li class="breadcrumb-item active">Doctors List</li>
					</ol>
					<div class="site-award">
						<img src="{% static 'img/award.svg' %}" alt="Hospital Dashboards"> Best Hospital
					</div>
				</div>
				<!-- Page header end -->

				<!-- Content wrapper start -->
				<div class="content-wrapper">

					<!-- Row start -->
					<div class="row gutters">
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Dentistry</div>
								</div>
								<div class="card-body">
								    <div class="doctors-list">
										<a href="#">Dr. Sandip Bhirud</a>
	
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">psychiatrist</div>
								</div>
								<div class="card-body">
									<div class="doctors-list">
										<a href="#">Dr.Kishor jadhavar</a>
										
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Cardiology</div>
								</div>
								<div class="card-body">
									<div class="doctors-list">
										<a href="#">Dr.priya palimkar</a>

									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Oncologist</div>
								</div>
								<div class="card-body">
									<div class="doctors-list">
										<a href="#">Dr.pratik patil</a>
										
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Ayurveda</div>
								</div>
								<div class="card-body">
									<div class="doctors-list">
										<a href="#">Dr.mahesh sabade</a>
										
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">general surgeon</div>
								</div>
								<div class="card-body">
									<div class="doctors-list">
										<a href="#">Dr.Atul patil</a>
										
									</div>
								</div>
							</div>
						</div>
						
					<!-- Row end -->

				</div>
				<!-- Content wrapper end -->

			</div>
			<!-- *************
				************ Main container end *************
			************* -->

			

		</div>

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="js/Jm.js"></script>
		<script src="js/Bbm.js"></script>
		<script src="js/Mo.js"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Main Js Required -->
		<script src="js/M.js"></script>

	</body>

</html>